numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
scipy==1.14.1
matplotlib==3.9.2
networkx==3.3

tqdm==4.66.5
joblib==1.4.2
pyyaml==6.0.2

statsmodels==0.14.2
tigramite==5.2.4.0

lingam==1.8.3
causal-learn==0.1.4.3

six==1.16.0
wrapt==1.16.0

git+https://github.com/sessions-lab/dynotears.git